*
{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: sans-serif;
  background: #ffff;
}

/* Nav bar */

.nav {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 7vh;
  background:  #252525;
}

.nav-links {
  align-items: center;
  display: flex;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li{
  font-size: 1.1rem;
  color: #ffff;
  margin-right: 4.8em;
  list-style: none;
}

.nav-links ul li a {
  color: #ffff;
  text-decoration: none;
}

#apple-logo {
  padding-right: 5em;
  height: 30px;
}

/* Header */

.header {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  background: #ffff;
  align-items: center;
}

.header h2 {
  padding-right: 13vw;
}

.header-links ul {
  margin-right: 8vw;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-links ul li {
  margin-right: 10px;
}

.header-links ul li a{
  font-size: 1rem;
  margin-left: 40px;
  color: #474747;
  text-decoration: none;
}

#header-btn {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 2vw;
  border: none;
  background: #007ad7;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  color: #ffff;
}

.saiba-mais {
  color: #474747;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 6vh;
  background: #f0f0f0;
}

.saiba-mais a {
  text-decoration: none;
  margin-left: 5px;
}

/* Section */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 40px;
}

.container h1 {
  margin-top: 30px;
  font-size: 5rem;
}

.container p {
  margin-top: 20px;
  color: #474747;
  text-align: center;
  font-size: 1.2rem;
  max-width: 30vw;
}

#price {
  margin-top: 50px;
  font-size: 1.3rem;
  color: #7f7f7f;
}

#btn-buy {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 40px 0px 50px 0px;
  border: none;
  background: #007ad7;
  height: 50px;
  width: 140px;
  border-radius: 25px;
  color: #ffff;
}

/* botão de selecionar cor do iPhone */

.buttons-iphone {
  margin: 80px 0px 200px 0px;
}

.buttons-iphone ul {
  display: flex;
}

.buttons-iphone ul li {
  align-items: center;
  margin-left: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
}


.buttons-iphone span {
  margin-top: 10px;
}

.buttons-iphone button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:solid 5px #fffffffa;
  /* outline: solid 2px #676767; */
}

#iphone_green {
  background: rgb(0, 122, 8);
}

#iphone_golden {
  background: rgb(193, 207, 0);
}

#iphone_grafite {
  background: rgb(114, 114, 114);
}

#iphone_silver {
  background: rgb(219, 219, 219);
}

#iphone_blue {
  background: rgb(3, 124, 222);
}

.selected{
  outline:solid 2px #007ad7;
}

.active {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}


@keyframes fadeIn {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}